.name-cell, .image-cell, .phone-cell, .email-cell, .DOB-cell{
    text-transform: capitalize;
    background-color:rgb(246, 237, 240);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: large;
}