.name-cell{
    text-transform: capitalize;
    background-color:rgb(246, 237, 240);
}
.image-cell{
    text-transform: capitalize;
    background-color:rgb(246, 237, 240);
}

.phone-cell{
    text-transform: capitalize;
    background-color:rgb(246, 237, 240);
}
.email-cell{
    text-transform: capitalize;
    background-color:rgb(246, 237, 240);
}
.DOB-cell{
    text-transform: capitalize;
    background-color:rgb(246, 237, 240);
}