.datatable .col {
    cursor: pointer;
    background-color:rgb(15, 7, 15);
    color: rgb(243, 237, 237);
}

.datatable .col .pointer:after {
    font-size: 100%;
    content: "";
    margin-right: 18px;
}

.datatable .col .pointer:hover:after {
    font-size: 100%;
    content: "🔻";
    margin-right: 0;
}